<section class="cid-sEJII4ZYTB" id="footer1-8">
	<div class="container">
		<div class="media-container-row content text-white">
			<div class="col-12 col-md-3">
				<div class="media-wrap">
					<center><a href="/">
						<img src="/assets/images/logo2-h_krrna2y4.png" alt="T-DEV STUDIO">
					</a></center>
				</div>
			</div>
			<div class="col-12 col-md-3 mbr-fonts-style display-7">
				<h5 class="pb-3"><strong>T-DEV STUDIO</strong></h5>
				<p class="mbr-text">CREATING A BETTER FUTURE TODAY &amp; MORE</p>
			</div>
			<div class="col-12 col-md-2 mbr-fonts-style display-7">
				<h5 class="pb-3"><strong>LINKS</strong></h5>
				<p class="mbr-text">
					<a href="/projects" class="text-white">PROJECTS</a><br>
					<a href="/offers" class="text-white">OFFERS</a><br>
					<a href="/articles" class="text-white">ARTICLES</a><br>
					<a href="/cv" class="text-white">CV</a>
				</p>
			</div>
			<div class="col-12 col-md-6 mbr-fonts-style display-7">
				<div class="row">
					<div class="col">
						<a title="Arctic Code Vault Contributor" target="_blank" rel="external" href="https://archiveprogram.github.com/">
							<img src="https://github.githubassets.com/images/modules/profile/badge--acv-64.png" height="100px">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-lower">
			<div class="media-container-row">
				<div class="col-sm-12"><hr></div>
			</div>
			<div class="media-container-row mbr-white">
				<div class="col-sm-6 copyright">
					<p class="mbr-text mbr-fonts-style display-7">© Copyright 2020-2021 Dunyo Jalilzoda - All Rights Reserved</p>
				</div>
				<div class="col-md-6">
					<div class="social-list align-right">
						<div class="soc-item">
							<a href="mailto:d.jalilzoda@mail.ru" target="_blank">
								<span class="mbri-letter mbr-iconfont mbr-iconfont-social"></span>
							</a>
						</div>
						<div class="soc-item">
							<a href="https://vk.com/dunyo_jalilzoda" target="_blank">
								<span class="socicon-vkontakte socicon mbr-iconfont mbr-iconfont-social"></span>
							</a>
						</div>
						<div class="soc-item">
							<a href="https://github.com/nobodymr" target="_blank">
								<span class="mbri-github mbr-iconfont mbr-iconfont-social"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>